.video-container {
  position: relative;
  width: 100%;
}
.video-container bgvideo {
    width: 100%;
    height: auto;
}
.overlay{
    position: relative;
    /* display: flex; */
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 9999;
}
video {
    position: absolute;
    height: auto;
    vertical-align: middle;
    width: 100%;
    text-align: center;

  }
  .overlay-desc {
    background: rgba(185, 22, 117, 0);
    position: relative;
    align-content: center; 
    text-align: center;
    top: 100; right: 100; bottom: 100; left: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 50px; */
    
  }
  h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    text-align: center;
    z-index: 9999;
    padding: 50px;
    margin-top: 200px;
  }
/*  */

 .bgvideo {

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background: linear-gradient(rgba(182, 63, 118, 0.55), rgba(196, 85, 162, 0.55));
    opacity: 0.75;
}
.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}